# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
.env
uv.lock

# Data & Models
data/raw/*
data/processed/*
!data/**/*.gitkeep
models/*
!models/*.gitkeep

# MLflow
mlruns/
mlartifacts/
*.db.bak

# IDEs & OS
.vscode/
.idea/
.DS_Store


# Custon
.plan/
# Gemini CLI
.geminiignore
