# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
.env

# Data & Models
data/raw/*
data/processed/*
!data/**/*.gitkeep
models/*
!models/*.gitkeep

# MLflow
mlruns/
mlartifacts/

# IDEs & OS
.vscode/
.idea/
.DS_Store


# Custon
.plan/
.gemini/
gha-creds-*.json
uv.lock

# Log Viewer
api.log
.plan/log_viewer.py
